
.camera{
	overflow: hidden;
}
#field{
	position: relative;
	background-repeat: repeat;
	background-image: url(	http://4.bp.blogspot.com/_KSOQsKkJHOU/TD2xjGjMs_I/AAAAAAAAABg/AOt7ouzFPUs/s400/%D0%A2%D1%80%D0%B0%D0%B2%D0%B0+%D1%81+%D0%B6%D1%91%D0%BB%D1%82%D1%8B%D0%BC%D0%B8+%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D1%87%D0%BA%D0%B0%D0%BC%D0%B8.png);
	
}

#field .game-object{
	position: absolute;
	display: block;
	//-webkit-transform: translate3d(0px,0px,0px);
}

#field .game-object.tree{
	//background-image: url(tree.png);
}

#field .game-object.human{
	//background-image: url(human.png);
	//background-position-x: -5px;
}

#field .game-object.dragon{
	//background-image: url(dragon.png);
}
